:root {
	/* This prevents everything being larger in landscape on iPhone. */
	-webkit-text-size-adjust: none;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}
body {
	font-family: Palatino, Georgia, serif;
	/* Haven’t managed to support Dynamic Type. None of font: -apple-system-body or font-size: 1rem or leaving font-size as the default worked. All of those are supposed to work.
	*/
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.4em;
	padding: 0em 1em;
	background-color: #fafafa;
	color: #101010;
	/* This prevents zooming out and horizontal scrolling when a word is too wide to fit in the viewport by forcing a line break in the middle of the word. */
	overflow-wrap: break-word;
}
a:hover {
	background-color: #EEEEEE;
}
/* Make the bullet separator in the byline slightly faded. The obvious way to do this would be to put the bullet in a span. However, if there is a span in the byline then Safari Reader adds an additional bullet after this span. To work around this a span is not used, and the colour of the bullet is set as the overall byline colour and then the name and date override this colour. */
p.byline {
	color: #a6a6a6;
}
p.byline a, p.byline time {
	color: #808080;
}
code, pre, th, td {
	background-color: rgb(240, 240, 250);
}
table.lightweight td {
	border-color: lightgray;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #101010;
		color: #dedede;
	}
	a:hover {
		background-color: #767676;
	}
	p.byline {
		color: #696969;
	}
	p.byline a, p.byline time {
		color: #8e8e8e;
	}
	code, pre, th, td {
		background-color: rgb(44, 44, 52);
	}
	table.lightweight td {
		border-color: darkgray;
	}
}
blockquote, h1, h2, h3, h4, h5, h6, input, p, small {
	line-height: 1.4em;
}
body, blockquote, div, h1, h2, h3, h4,
h5, h6, img, nav, ol, p, pre, table, ul, iframe, figure {
	margin: 0.8em auto;
}
hr {
	margin: 2em auto;
}
p, nav, div.quotebox, div.source,
ul, ol, pre, h3, h4, h5, h6, div.videoembed, figure, div.img-group {
	max-width: 32em;
}
hr {max-width: 20em}
a {
	color: inherit;
	text-decoration: underline;
}
h1.invisible {
	display: none;
}
h1 {
	font-size: 1.8em;
	max-width: 17.78em; /* 32/1.8 = 17.78 It’s tempting to make this less than the full width but probably better to add nonbreaking spaces near the ends of titles instead. */
	font-weight: bold;
}
h2 {
	font-size: 1.4em;
	max-width: 22.86em; /* 32/1.4 = 22.86 */
}
/* I don’t use anything beyond h3 so they can all be the same. */
h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: bold;
}
header h1, header h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}
img {
	display: block;
	margin: 1em auto;
	max-width: 100%;
}
.img-group {
    display: flex;
    justify-content: space-between;
	gap: 1em;
}
.img-group img {
	/* Otherwise the images overflow the flex container. https://stackoverflow.com/questions/36230944/prevent-flex-items-from-overflowing-a-container */
	min-width: 0;
	margin: 0px;
}
blockquote {
	max-width: 28em;
	padding: 0em 1em;
	font-style: italic;
}
blockquote em {
	font-weight: bold;
}
ol, ul {
	padding-left: 0em;
}
@media screen and (max-width: 544px) {
	ol, ul {
		padding-left: 1.618em;
	}
}
ol ol, ol ul, ul ol, ul ul {
	padding-left: 1.2em;
	margin: 0em auto;
	list-style-type: disc;
}
pre {
	overflow-x: auto;
	overflow-wrap: normal;
	padding: 0.618em;
}
article {
	position: relative;
	margin: 3em 0em 6em;
}
header {
	text-align: center;
	margin-bottom: 2.2em;
}
figcaption {
	text-align: center;
	font-style: italic;
}
code {
	font-size: 0.85em;
	padding: 0.1em 0em;
}
pre code {
	background-color: inherit;
}
table {border-collapse: collapse}
th, td {
	border: 1px solid gray;
	padding: 1em;
	text-align: center;
	vertical-align: center;
}
table.lightweight {
	width: inherit;
}
table.lightweight td {
	background-color: inherit;
	border-left: none;
	border-right: none;
	padding: 0.35em;
	width: 50%;
}
table.lightweight tr:first-child td {
	border-top: none;
}
table.lightweight tr:last-child td {
	border-bottom: none;
}
td.tablekey {
	text-align: right;
}
td.tablevalue {
	text-align: left;
}
span.left {
	float: left;
}
span.right {
	float: right;
}
span.centre, p.centred {
	text-align: center;
}
nav { /* match line height (which is specified above) */
	height: 1em;
}
.hljs-addition, .hljs-deletion, .hljs-formula {
	padding: 0.5em 0em;
	border-radius: 0.5em;
}
/* Generated by Codye then manually edited to remove the styles on `.hljs`. */
.hljs-addition{background-color:#caf0ca;}
.hljs-attribute{color:#000;}
.hljs-attr{color:#057CB0;}
.hljs-builtin-name{color:#5c2699;}
.hljs-built_in{color:#5c2699;}
.hljs-bullet{color:#057CB0;}
.hljs-class{color:#057CB0;}
.hljs-comment{color:#707F8C;}
.hljs-deletion{background-color:#ffc8bd;}
.hljs-doctag{font-weight:bold;}
.hljs-emphasis{font-style:italic;}
.hljs-formula{font-style:italic;background-color:#eee;}
.hljs-keyword{color:#aa0d91;}
.hljs-link{color:#080;}
.hljs-literal{color:#aa0d91;}
.hljs-meta{color:#aa0d91;}
.hljs-name{color:#008;}
.hljs-number{color:#057CB0;}
.hljs-params{color:#5c2699;}
.hljs-quote{color:#707F8C;}
.hljs-regexp{color:#080;}
.hljs-section{color:#057CB0;}
.hljs-selector-class{color:#9b703f;}
.hljs-selector-id{color:#9b703f;}
.hljs-selector-tag{color:#aa0d91;}
.hljs-string{color:#c41a16;}
.hljs-strong{font-weight:bold;}
.hljs-subst{color:#000;}
.hljs-symbol{color:#057CB0;}
.hljs-tag{color:#057CB0;}
.hljs-template-variable{color:#660;}
.hljs-title{color:#057CB0;}
.hljs-type{color:#4B21B0;}
.hljs-variable{color:#660;}
@media (prefers-color-scheme: dark) {
	.hljs-addition{background-color:#044d04;}
	.hljs-attribute{color:#dd3e3e;}
	.hljs-builtin-name{color:#f37316;}
	.hljs-built_in{color:#f37316;}
	.hljs-bullet{color:#6fc940;}
	.hljs-comment{color:#999580;}
	.hljs-emphasis{font-style:italic;}
	.hljs-keyword{color:#dd63ff;}
	.hljs-link{color:#dd3e3e;}
	.hljs-literal{color:#f37316;}
	.hljs-meta{color:#f37316;}
	.hljs-name{color:#dd3e3e;}
	.hljs-number{color:#f37316;}
	.hljs-params{color:#f37316;}
	.hljs-quote{color:#999580;}
	.hljs-regexp{color:#dd3e3e;}
	.hljs-section{color:#5c83ff;}
	.hljs-selector-class{color:#dd3e3e;}
	.hljs-selector-id{color:#dd3e3e;}
	.hljs-selector-tag{color:#dd63ff;}
	.hljs-string{color:#6fc940;}
	.hljs-strong{font-weight:bold;}
	.hljs-symbol{color:#6fc940;}
	.hljs-tag{color:#dd3e3e;}
	.hljs-template-variable{color:#dd3e3e;}
	.hljs-title{color:#5c83ff;}
	.hljs-type{color:#f37316;}
	.hljs-variable{color:#dd3e3e;}
}
